.site-name {
    display: none !important;
}

.cta-button {
    display: inline-block;
    font-size: 1.2rem;
    color: #fff;
    background-color: $accentColor;
    padding: 0.8rem 1.6rem;
    border-radius: 4px;
    transition: background-color 0.1s ease;
    box-sizing: border-box;
    border-bottom: 1px solid $accentColor;
}